{
  "branches": "main",
  "repositoryUrl": "https://github.com/liatrio/gh-trusted-builds-workflows",
  "debug": "false",
  "plugins": [
    [
        "@semantic-release/commit-analyzer", {
          "preset": "angular",
          "releaseRules": [
            {"type": "docs", "release": "patch"},
            {"type": "refactor", "release": "patch"},
            {"type": "style", "release": "patch"},
            {"type": "build", "release": "patch"}
          ],
          "parserOpts": {
            "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
          }
        }
    ]
  ]
}