name: Build & Push

on:
  workflow_call:
    inputs:
      attestorVersion:
        description: "liatrio/gh-trusted-builds-attestations version"
        default: "1.0.0"
        type: string
      cosignVersion:
        description: "Sigstore cosign version"
        default: "v2.0.2"
        type: string
      fulcioUrl:
        description: "Sigstore Fulcio URL. Defaults to the production public good instance"
        default: "https://fulcio.sigstore.dev"
        type: string
      rekorUrl:
        description: "Sigstore Rekor URL. Defaults to the production public good instance"
        default: "https://rekor.sigstore.dev"
        type: string
      slsaGeneratorVersion:
        description: "SLSA container provenance generator version"
        default: "1.6.0"
        type: string
      tufMirror:
        description: "cosign TUF root mirror URL. If not specified, cosign initialize will not be invoked"
        default: ""
        type: string
      tufRoot:
        description: "cosign TUF initial trusted root. If not specified, cosign initialize will not be invoked"
        default: ""
        type: string
    outputs:
      digest:
        description: "Docker image digest"
        value: ${{ jobs.push.outputs.digest }}

jobs:
  source-attestations:
    permissions:
      id-token: write # used to sign attestations
      contents: read # necessary for Git history
      packages: write # used to push attestations to GHCR
      pull-requests: read # used to populate attestation fields
    concurrency: attestations-${{ github.ref }}
    runs-on: ubuntu-latest
    needs: [push]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cosign Setup
        uses: liatrio/gh-trusted-builds-workflows/.github/actions/cosign@main
        with:
          tufRoot: ${{ inputs.tufRoot }}
          tufMirror: ${{ inputs.tufMirror }}
          version: ${{ inputs.cosignVersion }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Attestor Install
        uses: liatrio/gh-trusted-builds-workflows/.github/actions/attestor@main
        with:
          version: ${{ inputs.attestorVersion }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Request Attestation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          attestation github-pull-request \
            --artifact-uri ghcr.io/${{ github.repository }} \
            --artifact-digest ${{ needs.push.outputs.digest }} \
            --rekor-url ${{ inputs.rekorUrl }} \
            --fulcio-url ${{ inputs.fulcioUrl }}

  build:
    permissions:
      contents: read # required to build the container image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Image Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=
            latest

      - name: Build Image
        uses: docker/build-push-action@v4
        id: build
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=docker,dest=/tmp/image.tar

      - name: Upload Image Archive
        uses: actions/upload-artifact@v3
        with:
          name: image
          path: /tmp/image.tar

  push:
    permissions:
      packages: write # required to push the image to GHCR
    runs-on: ubuntu-latest
    needs: [build]
    outputs:
      digest: ${{ steps.push.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Image Archive
        uses: actions/download-artifact@v3
        with:
          name: image
          path: /tmp

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Load & Push Image
        id: push
        run: |
          docker load --input /tmp/image.tar
          image='ghcr.io/${{ github.repository }}'
          docker push -a $image
          digest=$(docker inspect --format='{{index .RepoDigests 0}}' "${image}" | awk -F "${image}@" '{print $2}')
          echo "image digest: ${digest}"
          echo "digest=${digest}" >> $GITHUB_OUTPUT

  provenance:
    permissions:
      actions: read # for populating provenance: https://github.com/slsa-framework/slsa-github-generator/blob/934435652996c02a6317092984312602dfaf2a21/.github/workflows/generator_container_slsa3.yml#L122
      id-token: write # required to sign attestations
      contents: read # for reading local TUF root.json file
      packages: write # required to upload attestations to GHCR
    concurrency: attestations-${{ github.ref }}
    runs-on: ubuntu-latest
    needs: [push]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download SLSA Generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download \
            --repo slsa-framework/slsa-github-generator \
            --pattern slsa-generator-container-linux-amd64 "v${{ inputs.slsaGeneratorVersion }}"

          chmod +x slsa-generator-container-linux-amd64
          ./slsa-generator-container-linux-amd64 --help

          mkdir -p $HOME/.bin/slsa-generator-container
          mv ./slsa-generator-container-linux-amd64 $HOME/.bin/slsa-generator-container/slsa-generator-container
          echo "$HOME/.bin/slsa-generator-container" >> $GITHUB_PATH

      - name: Generate Provenance
        env:
          GITHUB_CONTEXT: "${{ toJSON(github) }}"
        run: |
          slsa-generator-container generate --predicate predicate.json

      - name: Cosign Setup
        uses: liatrio/gh-trusted-builds-workflows/.github/actions/cosign@main
        with:
          tufRoot: ${{ inputs.tufRoot }}
          tufMirror: ${{ inputs.tufMirror }}
          version: ${{ inputs.cosignVersion }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest Provenance
        run: |
          cosign attest --predicate="predicate.json" \
            --rekor-url ${{ inputs.rekorUrl }} \
            --type slsaprovenance \
            --fulcio-url ${{ inputs.fulcioUrl }} \
            --yes \
            ghcr.io/${{ github.repository }}@${{ needs.push.outputs.digest }}

  sign:
    permissions:
      id-token: write # required to sign image
      contents: read # for reading local TUF root.json file
      packages: write # required to upload signature to GHCR
    runs-on: ubuntu-latest
    needs: [push]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cosign Setup
        uses: liatrio/gh-trusted-builds-workflows/.github/actions/cosign@main
        with:
          tufRoot: ${{ inputs.tufRoot }}
          tufMirror: ${{ inputs.tufMirror }}
          version: ${{ inputs.cosignVersion }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sign
        run: |
          cosign sign \
              --annotations liatr.io/github-actions-run-link='${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}' \
              --annotations liatr.io/signed-off-by=platform-team \
              --rekor-url ${{ inputs.rekorUrl }} \
              --fulcio-url ${{ inputs.fulcioUrl }} \
              --yes ghcr.io/${{ github.repository }}@${{ needs.push.outputs.digest }}
