name: Integration Tests
on:
  workflow_call:
    inputs:
      concurrencyGroupTag:
        type: string
        required: false
        default: ${{ github.ref_name }}
        description: Tag for integration test concurrency group to cancel older, queued test runs
    secrets:
      INT_TESTS_GH_APP_APP_ID:
        required: true
        description: GitHub App id for test identity
      INT_TESTS_GH_APP_INSTALLATION_ID:
        required: true
        description: GitHub App installation id for test identity
      INT_TESTS_GH_APP_PRIVATE_KEY:
        required: true
        description: GitHub App private key for test identity

concurrency:
  group: integration-test-${{ inputs.concurrencyGroupTag }}

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Cosign Setup
        uses: ./.github/actions/cosign
        with:
          tufMirror: "https://tuf-repo-cdn.sigstage.dev"
          tufRoot: "sigstore/staging/1.root.json"
      - name: Setup Node.js
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version-file: '.nvmrc'
      - name: Install NPM Dependencies
        run: npm i
      - name: Prettier Check
        run: npm run prettier-check
      - name: Run Integration Tests
        run: npm run test
        env:
          NODE_ENV: ci
          INT_TESTS_GH_APP_APP_ID: ${{ secrets.INT_TESTS_GH_APP_APP_ID }}
          INT_TESTS_GH_APP_INSTALLATION_ID: ${{ secrets.INT_TESTS_GH_APP_INSTALLATION_ID }}
          INT_TESTS_GH_APP_PRIVATE_KEY: ${{ secrets.INT_TESTS_GH_APP_PRIVATE_KEY }}