name: Scan Image

on:
  workflow_call:
    inputs:
      digest:
        type: string
        required: true
        description: "Docker image digest"
      environment:
        description: "Name of the Sigstore environment to use. Should be one of [staging, production]"
        default: "production"
        type: string

jobs:
  detect-workflow:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # needed to grab job_workflow_ref information
    outputs:
      repository: ${{ steps.detect.outputs.repository }}
      ref: ${{ steps.detect.outputs.ref }}
      workflow: ${{ steps.detect.outputs.workflow }}
    steps:
      - name: Detect the repository and ref
        id: detect
        uses: slsa-framework/slsa-github-generator/.github/actions/detect-workflow-js@e55b76ce421082dfa4b34a6ac3c5e59de0f3bb58 # v1.7.0

  scan:
    permissions:
      id-token: write # required to sign attestations
      packages: write # required to upload attestations to GHCR
    runs-on: ubuntu-latest
    needs: [detect-workflow]
    steps:
      - name: Checkout Workflows Repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          repository: ${{ needs.detect-workflow.outputs.repository }}
          ref: ${{ needs.detect-workflow.outputs.ref }}
          path: gh-trusted-builds-workflows
          persist-credentials: false

      - name: Configuration
        id: config
        uses: ./gh-trusted-builds-workflows/.github/actions/config
        with:
          environment: ${{ inputs.environment }}

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@41f05d9ecffa2ed3f1580af306000f734b733e54 # 0.11.2
        with:
          image-ref: ghcr.io/${{ github.repository }}@${{ inputs.digest }}
          format: 'cosign-vuln'
          output: ./trivy.report.json
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      - name: Cosign Setup
        uses: ./gh-trusted-builds-workflows/.github/actions/cosign
        with:
          tufRoot: ${{ steps.config.outputs.tufRoot }}
          tufMirror: ${{ steps.config.outputs.tufMirror }}
          version: ${{ steps.config.outputs.cosignVersion }}
          workingDirectory: ./gh-trusted-builds-workflows

      - name: Login to GitHub Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest Scan
        run: |
          cosign attest \
            --predicate ./trivy.report.json \
            --type vuln \
            --rekor-url ${{ steps.config.outputs.rekorUrl }} \
            --fulcio-url ${{ steps.config.outputs.fulcioUrl }} \
            --yes \
            ghcr.io/${{ github.repository }}@${{ inputs.digest }}
